In [ ]:
a = 3
a

In [ ]:
b = 444